{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}

  <div class="row">
    <h3>Технологии, использованные в ходе разработки проекта</h3>
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          много сожжённых нервов...
        </li>
        <li class="list-group-item">
          Python
        </li>
        <li class="list-group-item">
          Django
        </li>
      </ul>
    </aside>
  </div>
{% endblock %}