{% load user_filters %}

{% if user.is_authenticated %}
  <div class="card my-4">
    <h5 class="card-header">Добавить комментарий:</h5>
    <div class="card-body">
      <form method="post" action="{% url 'posts:add_comment' post.id %}">
        {% csrf_token %}      
        <div class="form-group mb-2">
          {{ form.text|addclass:"form-control" }}
        </div>
        <button type="submit" class="btn btn-secondary">Отправить</button>
      </form>
    </div>
  </div>
{% endif %}

{% for comment in comments %}
  <div>
    <div class>
      <h5 class="mt-0">
        <a class="blog-post-meta link-dark" href="{% url 'posts:profile' comment.author.username %}">
          {{ comment.author.username }}
        </a>
      </h5>
        {{ comment.text|linebreaks }}
    </div>
    {% if user == comment.author %}
      <a class="blog-post-meta link-dark" href="{% url 'posts:post_detail' post.id %}">
        удалить
      </a>
    {% endif %}
  </div>
  {% if not forloop.last %}<hr>{% endif %}
{% endfor %}