{% if user.is_authenticated %}
  <div class="row my-3">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a 
          class="nav-link link-dark {% if index %}active{% endif %}"
          href="{% url 'posts:index' %}"
        >
          Главная
        </a>
      </li>
      <li class="nav-item">
        <a 
           class="nav-link link-dark {% if follow %}active{% endif %}"
           href="{% url 'posts:follow_index' %}"
        >
          Подписки
        </a>
      </li>
      <li class="nav-item">
        <a 
           class="nav-link link-dark {% if groups %}active{% endif %}"
           href="{% url 'posts:group_index' %}"
        >
          Группы
        </a>
      </li>
    </ul>
  </div>
{% endif %}