{% extends 'base.html'%} 
{% block title %}
  Записи сообщества {{ group.title }}
{% endblock %} 
{% block content %}
  <div class="container">
    <div class="row">
      <aside class="col-12 col-md-3">
        <div class="card" style="">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><h5>{{ group.title }}</h5></li>
            <li class="list-group-item"><h6>{{ group.description }}</h6></li>
          </ul>
        </div>
      </aside>
      <article class="col-12 col-md-7">
        {% for post in page_obj %}
          {% include 'posts/includes/post.html' with group_list=True %}
          {% if not forloop.last %}<hr>{% endif %}
        {% endfor %}
      </article>
    </div>
  </div>
  {% include 'posts/includes/paginator.html' %}
{% endblock%}